circle.node {
    cursor: pointer;
    stroke: #000;
    stroke-width: .5px;
}

line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

#container {
    float:left;
    width:75%;
    overflow:hidden;
    height: 100%;
    border-radius: 15px;
    border: 1px solid #1d4d70;
}

#filters {
    float:left;
    width:20%;
    overflow:hidden;
    padding-left: 10px;
}

#canvas {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#dialog {
    width: 20%;
    height: 20%;
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
}

:-moz-placeholder {
    color: blue;
}

::-webkit-input-placeholder {
    color: blue;
}

*:focus {outline: none;}

body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}
.contact_form h2, .contact_form label {font-family:Georgia, Times, "Times New Roman", serif;}
.form_hint, .required_notification {font-size: 11px;}

.filter-form ul {
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

.filter-form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

.filter-form li:first-child, .contact_form li:last-child {
    border-bottom:1px solid #777;
}

.filter-form h2 {
    margin:0;
    display: inline;
}

.filter-form label {
    width:80px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.filter-form input {
    height:20px;
    width:100px;
    padding:5px 8px;
}

select {
    -webkit-appearance: menulist-button;
    height: 30px;
    width: 100px;
}
.filter-form button {margin-left:156px;}

.filter-form input {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.filter-form input:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}
/* Button Style */
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;

}