@()
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Akka Tree Visualization</title>
    </head>
    <body>
        <h1 align="center"><u>Akka Tree Visualization</u></h1>
        <div id="log"></div>
        <div id="canvas"></div>
        <script src="@routes.Assets.at("javascripts/d3.v3.min.js")" charset="utf-8"></script>
        <script src="@routes.Assets.at("javascripts/akkatree.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.6.2.min.js")"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tipsy.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery.tipsy.js")" type="text/javascript"></script>

        <script type="text/javascript">
        var eventSource = new EventSource("/events");
        eventSource.onmessage = function(event) {
            console.log("data: ", event.data)
            akkatree_onmessage(JSON.parse(event.data))
        };

        eventSource.onerror = function(alert) {
            console.log("alert: ", alert)
        }
        </script>
    </body>
</html>